h3, p {font-family:Helvetica;}

header {
    background-image: url("../images/pattern.jpeg");
    font-family: Helvetica;
    font-size: 50px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}
.brushes h2 {
    font-family: Helvetica;    
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}
.frames h2 {
    font-family: Helvetica;    
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}
.paint h2 {
    font-family: Helvetica;    
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}
.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}