.banner {
    background-color: #4d00FF;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}
#gritter {
    color:  #4d00FF;
    font-size: 100px;
}
#small-gritty {
    height: 100px;
    width: 100px;
}
.bold {
    font-weight: 900;
}